@CHARSET "ISO-8859-1";

body {
	margin: 2cm;
	font-family: verdana;
	font-size: 10pt;
}

table {
	border: solid thin;
	padding: 1cm;
}
td{
	padding :2mm;
	height : 1cm;
}

#outputCell{
	background-color: green;
	display: block;
	color:white;
}
td[colspan='2']{
	width: 6cm;	
}
h1{
	width : 40%;
	background-color: black;
	color:white;
	height: 1cm;
	border-radius: 2mm;
	padding-left:2mm;
	
}
input[type='text']{
	padding: 3mm;	
}